.block {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }


  .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);
    padding-bottom: 10px;
  }

  .titleBox {
    text-align: center;
}

  @media (min-width: 768px) {
    .block {
        margin-left: 260px;
    }
  }

  @media (max-width: 768px) {
    .crowdfundingBox {
        margin-top: 70px;
    }
  }

  .contributionsBox {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .contributions,
  .contributions * {
    margin: 0;
    padding: 0;
  }
  
  .contributions li {
    display: flex;
    position: relative;
  
    padding: 1rem;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .badge {
    display: inline-block;
    height: fit-content;
    position: relative;
  
    margin-left: 0.3rem;
    color: white;
  }
  
  .badge::before {
    content: "";
    display: block;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  
    width: 100%;
    height: 100%;
    padding: 0.2rem 0.3rem;
  
    background-color: var(--secondary-dark);
    opacity: 0.5;
    border-radius: 10px;
  }
  
  .contributions img {
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1;
  }
  
  .actions {
    /* position: absolute; */
    right: 0;
    top: 0;
  
    display: flex;
    gap: 0.5rem;
  
    display: inline-block;
    padding-left: 0.5rem;
    color: var(--secondary);
  }
  
  .actions button {
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
  }
  
  .actions svg {
    stroke: 20px;
  }
  