.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}